body{
    padding: 40px 0 40px 0;
    /* background: linear-gradient(80deg, #FC8A8A, #FFAFA4, #FFD3B3); */
    /* min-height: 100vh; */
}
.faq-section--label{
    font-size: 50px;
    margin:  50px 0 50px 12vw;
    padding-left: 5vw;
    width: 150px;
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 106, 106);
    white-space: nowrap;
}
.faq-section--label span{
    font-size: 20px;
    color: #ffe8e8;
}
.faq-title--holder{
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 1fr;
    width: 400px;
    margin: 30px auto;
    padding-top: 20px;
}
.faq-title--logo{
    background-image: url('./assets/logo-no-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
    margin-top: -45px;
}

@media only screen and (max-width: 800px){
    .faq-section--label{
        font-size: 25px;
        margin: 5vw 0 10vw 10vw;
        padding: 0;
    }
    .faq-section--label span{
        font-size: 12px;
        padding: 0;
    }
    .faq-title--holder{
        padding: 0;
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px;
        text-align: center;
        margin: 0 auto;
    }
    .faq-title--logo{  
        margin-top: 0;
    }
}