body{
    padding: 40px 0 40px 0;
}
.faq-title{
    font-size: 50px;
    margin:  50px 0 50px 12vw;
    padding-left: 5vw;
    width: 150px;
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #F68080;
    white-space: nowrap;
}
.faq-title span{
    font-size: 20px;
    color: #BBBBBB;
}